webroot/app/code/local/Amasty/File/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_File
 */
-->
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="amastyFileAttachmentEntity">
                <xsd:sequence>
                    <xsd:element name="file_id" type="xsd:int" nillable="true" default="0" />
                    <xsd:element name="product_id" type="xsd:int"/>
                    <xsd:element name="file_url" type="xsd:string" nillable="true" />
                    <xsd:element name="label" type="xsd:string"/>
                    <xsd:element name="file_name" type="xsd:string"/>
                    <xsd:element name="file_link" type="xsd:string"/>
                    <xsd:element name="file_path" minOccurs="0" nillable="true" type="xsd:string"/>
                    <xsd:element name="store_id" type="xsd:int" nillable="true" default="0"/>
                    <xsd:element name="visible" type="xsd:boolean"/>
                    <xsd:element name="position" type="xsd:int"/>
                    <xsd:element name="file_content" type="xsd:base64Binary" nillable="true" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="amastyFileAttachmentEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:amastyFileAttachmentEntity"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="amastyFileGetAttachmentsRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="attachmentId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="storeId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="readFile" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amastyFileGetAttachmentsResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:amastyFileAttachmentEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amastyFileAddAttachmentsRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element name="attachments" type="typens:amastyFileAttachmentEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amastyFileAddAttachmentsResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amastyFileDeleteAttachmentsRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="attachmentId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="amastyFileDeleteAttachmentsResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="amastyFileGetAttachmentsRequest">
        <wsdl:part name="parameters" element="typens:amastyFileGetAttachmentsRequestParam" />
    </wsdl:message>
    <wsdl:message name="amastyFileGetAttachmentsResponse">
        <wsdl:part name="parameters" element="typens:amastyFileGetAttachmentsResponseParam" />
    </wsdl:message>
    <wsdl:message name="amastyFileAddAttachmentsRequest">
        <wsdl:part name="parameters" element="typens:amastyFileAddAttachmentsRequestParam" />
    </wsdl:message>
    <wsdl:message name="amastyFileAddAttachmentsResponse">
        <wsdl:part name="parameters" element="typens:amastyFileAddAttachmentsResponseParam" />
    </wsdl:message>
    <wsdl:message name="amastyFileDeleteAttachmentsRequest">
        <wsdl:part name="parameters" element="typens:amastyFileDeleteAttachmentsRequestParam" />
    </wsdl:message>
    <wsdl:message name="amastyFileDeleteAttachmentsResponse">
        <wsdl:part name="parameters" element="typens:amastyFileDeleteAttachmentsResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="amastyFileGetAttachments">
            <wsdl:documentation>Get product attachment</wsdl:documentation>
            <wsdl:input message="typens:amastyFileGetAttachmentsRequest" />
            <wsdl:output message="typens:amastyFileGetAttachmentsResponse" />
        </wsdl:operation>
        <wsdl:operation name="amastyFileAddAttachments">
            <wsdl:documentation>Upload new product attachment</wsdl:documentation>
            <wsdl:input message="typens:amastyFileAddAttachmentsRequest" />
            <wsdl:output message="typens:amastyFileAddAttachmentsResponse" />
        </wsdl:operation>
        <wsdl:operation name="amastyFileDeleteAttachments">
            <wsdl:documentation>Delete Attachment</wsdl:documentation>
            <wsdl:input message="typens:amastyFileDeleteAttachmentsRequest" />
            <wsdl:output message="typens:amastyFileDeleteAttachmentsResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="amastyFileGetAttachments">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="amastyFileAddAttachments">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="amastyFileDeleteAttachments">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
