webroot/app/code/local/BlueAcorn/Southware/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <!--BEGIN MESSAGES -->

    <message name="southware_customerUpdateRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="customerEmail" type="xsd:string" />
        <part name="southwareCustomerId" type="xsd:string" />
    </message>
    <message name="southware_customerUpdateResponse">
        <part name="result" type="typens:boolean" />
    </message>

    <message name="southware_orderUpdateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderNumber" type="xsd:string" />
        <part name="southwareOrderId" type="xsd:string" />
    </message>
    <message name="southware_orderUpdateResponse">
        <part name="result" type="typens:boolean" />
    </message>

    <!--END MESSAGES -->


    <!--BEGIN PORT TYPES -->

    <portType name="{{var wsdl.handler}}PortType">

        <operation name="southware_customerUpdate">
            <documentation>Update Southware Customer ID</documentation>
            <input message="typens:southware_customerUpdateRequest" />
            <output message="typens:southware_customerUpdateResponse" />
        </operation>

        <operation name="southware_orderUpdate">
            <documentation>Update Southware Order ID</documentation>
            <input message="typens:southware_orderUpdateRequest" />
            <output message="typens:southware_orderUpdateResponse" />
        </operation>

    </portType>

    <!--END PORT TYPES -->

    <!--BEGIN BINDINGS -->

    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

        <!--BEGIN CUSTOMER BINDINGS -->
        <operation name="southware_customerUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <!--END CUSTOMER BINDINGS -->

        <!--BEGIN ORDER BINDINGS -->
        <operation name="southware_orderUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <!--END ORDER BINDINGS -->
    </binding>
    <!--END BINDINGS -->

</definitions>